    <div class="album">
        <span class="artist-names-album"><p>{{#each this.artists}}{{#if @first}}<b> {{this.name}} </b>
            {{else}} - {{this.name}}{{/if}}{{/each}}</p></span>
            {{#each this.images}} {{#if @first}}<img src="{{this.url}}"{{/if}}{{/each}} alt="{{this.name}}">
        <h2>{{this.name}}</h2>
        <a href="/view-tracks/{{this.id}}">View Tracks</a>
    </div>