<a href="/{{id}}">
	{{!-- <img src="{{poster}}" alt="Poster for {{title}}"> --}}
</a>
{{!-- <h2>
	{{title}}
</h2>
<p>
	Made in: {{year}}
</p>
<p>
	Directed by: {{director}}
</p>
<ul>
	{{#each genre}}
		<li>{{this}}</li>
	{{/each}}
</ul> --}}