<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{images.0.url}}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">{{release_date}}</p>
        <p class="card-text">{{total_tracks}} tracks</p>
        <a href="/album/{{id}}" class="btn btn-success">View Tracks</a>
    </div>
</div>