<div class="col">
  <div class="card bg-secondary">
    <img src={{imgSrc}} alt="{{title}}">
    <div class="card-body text-center text-white">
      <h5>{{title}}</h5>
      <br>
      <a href="/tracks/{{title}}/{{albumId}}" class="btn btn-danger">See Tracks</a>
    </div>
  </div>
</div>