
<div class="card bg-dark my-3">
    <a href="/tracks/{{this.id}}" class="text-decoration-none text-white" alt="{{this.name}}">
        <img src="{{this.images.0.url}}" alt="Picture of {{this.name}}" class="card-img-top"/>
        <div class="card-body">
        <h3 class="card-title h6 text-truncate" alt="{{this.name}}">{{this.name}}</h3>
        <p class="small card-text text-decoration-none d-flex align-center"><img src="/images/music.svg" width="16" class="me-2"/> {{this.total_tracks}}</p>
        </div>
    </a>
  </div>