<div class="col-md-4 .mp-2 globalCard">
  <div class="card1">
    <img class="card-img-top" src="{{this.image.0 url}}" alt="{{this.name}}" />
  </div>
  <div class="card-body">
      <img class="card-img-top" src="{{this.image.0 url}}" alt="{{this.name}}" />
    <p class="card-text">{{this.name}}</p>
  </div>
</div>