{{#each this}}

<div class="card">
    {{#if images}}
    <figure>
        <img class="card-img" src="{{images.[0].url}}" alt="{{this.name}}" srcset="">
    </figure>
    {{else}}
    <figure>
        <img class="card-img" src="images/nofound.jpg" alt="{{this.name}}" srcset="">
    </figure>
    {{/if}}
    <h2 class="card-title">{{name}}</h2>
    <a class="btn" href="/albuns/{{this.id}}">View Albuns</a>
</div>
{{/each}}