<!-- views/partials/playerCard.hbs -->

<div class="col-md-4">
    <div class="card">
        <img class="card-img-top" src="{{this.photo}}" />
        <div class="card-body">
            <h5 class="card-title">

            </h5>

            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-6"></div>

                    <img src="{{this.images.0.url}}" alt="{{this.name}}">

                </div>
                <h4>{{this.name}}</h4>
                <a href="/albums/{{this.id}}">View Albums</a>
            </div>

        </div>
    </div>
</div>

</div>
</div>
</div>