<div>
  <img alt="" src="{{this.images.0.url}}">
  <div>
    <h5>{{this.name}} {{this.lastName}}</h5>
    <p>{{this.genres}}</p>
    <a href="/albums-search/{{this.id}}"><button>View Albums</button></a>
  </div>
</div>