<div class="col-md-4">
    <div class="card">
        <img class="card-img-top" src="{{this.photo}}" />
        <div class="card-body">

            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-6"></div>
                    <img src="{{this.images}}" alt="{{this.name}}">

                </div>
                <h4>{{this.name}}</h4>
                <a href="/albums/{{this.id}}/tracks">View Tracks</a>
            </div>

        </div>
    </div>
</div>

</div>
</div>
</div>