   <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <img src={{images.[0].url}} width="100" height="100" alt="">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">{{name}}</h3>
                {{#if album_type}}
                    <a href="/tracks/{{id}}" class="uk-button uk-button-danger">View Tracks</a>
                {{else}}
                    <a href="/albums/{{id}}" class="uk-button uk-button-danger">View Artist</a>
                {{/if}}
            </div>
        </div>
    </div>
© 2021 GitHub, Inc.
Terms
Privacy
Security
Status
