<div>
    <div>
        <div>
            <img src="{{images.[0].url}}" alt="{{name}}" width="100" height="100">
        </div>
        <div class="">
            <h3>{{name}}</h3>
            {{#if album_type}}
                <a href="/tracks/{{id}}">ViewTracks</a>
            {{else}}
                <a href="/albums/{{id}}">View Artists</a>
            {{/if}}
        </div>
    </div>
</div>