<div class="cardContainer__card">
  {{#if this.images}}
    <img
      class="cardContainer__card__img"
      src="{{this.images.0.url}}"
      alt="Artist image"
    />
  {{else}}
    <img
      class="cardContainer__card__img"
      src="/images/spotify-default-profile-pic.jpg"
      alt="Default artist image"
    />

  {{/if}}
  <div class="cardContainer__card__info">
    <h3 class="cardContainer__card__info__title">
      {{this.name}}
    </h3>
    <a
      class="cardContainer__card__info__button"
      href="{{btnConfig.path}}{{id}}"
    >View {{btnConfig.text}}</a>
  </div>
</div>