<div class="cardContainer__card">
  <img
    class="cardContainer__card__img"
    src="{{this.images.0.url}}"
    alt="Album cover"
  />
  <div class="cardContainer__card__info">
    <h3>
      {{this.name}}
    </h3>
    <a href="{{btnConfig.path}}{{id}}">View {{btnConfig.text}}</a>
  </div>
</div>