<div>
  {{#if images.0.url}}
    <img src="{{images.0.url}}" alt="card-image" />
  {{else}}
    <img src="images/no-cover.jpg" alt="card-image" />
  {{/if}}

  <h2>{{name}}</h2>

  {{#if album_group}}
    <a href="/tracks/{{name}}/{{id}}">View Tracks</a>
  {{else}}
    <a href="/albums/{{name}}/{{id}}">View Albums</a>
  {{/if}}

</div>