<div class="card {{class}}" style="width: 18rem;">
	<img src="{{image}}" class="card-img-top" alt="...">
	<div class="card-body">
		<h5 class="card-title">{{name}}</h5>
		<a href="/{{route}}/{{id}}" class="btn btn-primary">{{label}}</a>
	</div>
</div>