    <title>searching for {{artist.0.name}}...</title>
<div class="uk-card uk-card-default uk-width-1-2@m">
        <div class="uk-card-media-top" uk-grid>
                <img  width="100%" height="auto" src={{images.0.url}} alt="{{name}}">
        </div>
    <div class="uk-card-body uk-card-hover uk-card-secondary">
        <h3 class="uk-card-title">{{name}}</h3>
      {{#if album_type}}
        <a
          href="/tracks/{{id}}"
          class="uk-button uk-button-danger"
        >ViewTracks</a>
      {{else}}
        <a href="/albums/{{id}}/{{name}}"
          class="uk-button uk-button-danger"
        >View Artists</a>
      {{/if}}
    </div>
</div>