<div>
	<p>{{this.track_number}}</p>
	<p>{{this.name}}</p>
	<p>{{this.artists.0.name}}</p>
	<p>{{this.album.name}}</p>
	<audio controls>
		<source src='{{this.preview_url}}' type='audio/mpeg' />
	</audio>

</div>