<div class="album-collection">

  {{#each albums}}

    <div class="album">

      <h2>{{name}}</h2>

      {{#if images}}
        <img src="{{images.0.url}}" alt="{{name}}" />
      {{else}}
        <img src="/images/image-unavailable.jpeg" alt="{{name}}" />
      {{/if}}

      <button><a href="/tracks/{{id}}">View Tracks</a></button>

    </div>

  {{/each}}

</div>