<div id="grid-thir-page">

<h1>Albums for {{artistName}}</h1>


{{#if albums}}
  <ul>
    
    {{#each albums}}
      <li>
       
        
        {{#if images}}
          <img src="{{images.[0].url}}" alt="{{name}} Cover" width="200">
        {{/if}}
         <h2>{{name}}</h2>
        <a href="/tracks/{{id}}">View Tracks</a>
      </li>
    {{/each}}
    {{!-- <a href="/tracks/{{id}}">View Tracks</a> --}}
  </ul>
{{else}}
  <p>No albums found for this artist.</p>
{{/if}}

</div>

