<div class="artist-collection">

  {{#each artists}}

    <div class="artist">
      <h2>{{name}}</h2>
      <img src="{{images.0.url}}" alt="{{name}}" />
      <button class="btn btn-primary" data-id="{{id}}"><a href="albums/{{id}}">View Albums</a></button>
    </div>

  {{/each}}

</div>