<h3>Albums by {{albums.0.artists.0.name}}</h3>
<div class="row">

  {{#each albums}}
  <div class="col-4 artist-box">
    {{#if this.images.0.url}}
    <img src={{this.images.0.url}} class="img-fluid">
    {{else}}
    <img src="/images/nopicture.jpg" class="img-fluid">
    {{/if}}
    <div class="gray-box">
      <h5>{{this.name}}</h5>
      <button type="submit" class="btn-danger"><a href="/tracks/{{{this.id}}}">View tracks</a></button>
    </div>
  </div>
  {{/each}}


</div>