<HTML>

<div class="album-poster">

    <p>{{name}}</p>
    {{#if images.[0].url}}
    <img src="{{images.[0].url}}" alt="photo for {{name}}" style="height: 200px;">

    {{else}}
    <img src="https://scenefordummies.com/img/static/cover/placeholder.png" alt="missing photo for {{name}}"
        style="height: 200px;">
    {{/if}}
    <button>
        <a href="/albumView?id={{this.id}}">Albums: {{this.name}}
    </button> </a>


</div>

</HTML>