<HTML>

<div class="album-poster">

    <h3>artistCard.hbs {{this.name}}</h3>

    <img src="{{this.images.0.url}}" alt="artist image for {{this.name}}">

    <button>
        <a href="/albumView?id={{this.id}}">View Albums of: {{this.name}}
    </button> </a>

</div>

</HTML>