<div class="artistdiv"> 
  {{#each albums}}
  <div class="artistcard">
    {{#if this.images}}
    <img class="artistimg" src="{{this.images.0.url}}" alt="{{this.name}}">
    {{else}}
    <img class="artistimg" src="images/generic-cover.jpg" alt="No image available">
    {{/if}}
    <div class="artisttext">
      <p class="artistname">{{ this.name }}</p>
      <a href="/tracks/{{this.id}}">View Tracks</a>
    </div>
    
  </div>
  {{/each}}
</div>