<h1>Albums from {{artist.body.name}}</h1>
{{#each data.body.items}}
<div>
    {{#if images.0.url}}
    <img src="{{images.1.url}}" alt="{{name}}">
    {{/if}}
</div>
<div>
    <h4>{{name}}</h4>
</div>
<div>
    <a href="/tracks/{{id}}"><button>View Tracks</button></a>
</div>
{{/each}}

