 <div class="container">
    <div class="row justify-content-sm-center">
        <div class="col-sm-10 app-content">
            <div class="albums-page">
                <h1>Albums related with {{nameArtist}}</h1>
                <section class="cards">
                    {{#each albums}}
                        <div class="card">
                            <div class="card_image" style="background-image: url('{{images.[0].url}}');"></div>
                            <div class="card_content">
                                <div classs="card_title">
                                    <h3>{{name}}</h3>
                                </div>
                                <div class="card_actions">
                                    <a class="btn btn-secondary btn-lg" href="/tracks/{{id}}?artist={{../nameArtist}}">View Tracks</a>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </section>
            </div>
        </div>
    </div>
</div>