<section class="search-results">
    {{#each albumsArr}}
    <div class="data">
        {{#if this.images.[0].url}} 
        <img src="{{this.images.[0].url}}" alt="{{this.name}} image">
        {{else}}
        <img src="/images/album-placeholder.png" alt="album placeholder image">
        {{/if}}
        <h2>{{this.name}}</h2>
        <a class="button" href="/tracks/{{this.id}}">View Tracks</a>
    </div>
    {{/each}}
</section>
