
<p>Albums for: {{this.items.[0].artists.[0].name}}</p>

{{log "albums received" this}}
{{log "albums artist" this.artists}}

<div id="albums-list">

    {{#each this.items}}
        {{!-- {{log this}} --}}
        <div class="album">
            {{!-- {{log "album" this}} --}}
            {{#if this.images.[0]}}
                <img src="{{this.images.[0].url}}" alt="{{this.name}}">
            {{else}}
                <img src="/images/missing.png" alt="{{this.name}}">
            {{/if}}
            {{this.name}}
            <a href="/album/{{this.id}}">View Album details</a>

        </div>
        {{!-- {{this.name}} --}}
    {{/each}}

</div>