
{{log "album details" this}}

{{!-- <p>Album : {{this.artists.[0].name}}</p>
<p>For: {{this.name}}</p> --}}

<div class="album-header">
    {{#if this.album.images.[0].url}}
        <img src="{{this.album.images.[0].url}}" alt="{{this.album.name}}">
    {{/if}}
    <p>{{this.album.name}}</p>
    <p>{{this.album.artists.[0].name}}</p>
    <p>{{toYear this.album.release_date}}</p>
</div>

<div id="tracks-list">

    <div id="tracks-list-header">
        <span>Title</span>
        <span>Listen</span>
    </div>
        {{#each this.tracks}}
            {{!-- {{log this}} --}}
            <div class="track">
                {{!-- {{log "album" this}} --}}
                {{this.name}} - {{../this.album.name}}
                
                {{#if this.preview_url}}
                <audio controls>
                    <source src="{{this.preview_url}}" type="audio/mpeg">
                        Your browser does not support the audio tag.
                </audio>
                {{else}}
                    <p>No preview available 🫤</p>
                {{/if}}
            </div>
            {{!-- {{this.name}} --}}
        {{/each}}

</div>

{{> back}}
