<div class="container">
    <h1>Albums by {{artist}}</h1>
    <div id="albums">
        {{#each albums}}
        <div class="album-card">
            <img src="{{this.images.0.url}}" alt="{{this.name}}">
            <h2>{{this.name}}</h2>
            <p>{{this.release_date}}</p>
            <a href="/albums/{{this.id}}/tracks">View Tracks</a>
        </div>
        {{/each}}
    </div>
</div>