{{#each this}}
    {{!-- <p>{{this.name}}</p>
    <img src="{{this.images.[0].url}}">
    </br>
    <a href="/tracks/{{this.id}}">View tracks</a> --}}

<div class="card" style="width: 18rem;">
  <img src="{{this.images.[0].url}}" class="card-img-top" >
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <a href="/tracks/{{this.id}}" class="btn btn-primary">View tracks</a>
  </div>
</div>

{{/each}}