<div>
    {{#each artist}}
    <li>
        {{name}}
    <img src="{{images.[0].url}}" alt="{{name}}">
    <h3>{{name}}</h3>
    <br>
    <a href="/albums/{{id}}">Views Albums</a>
    </li>
    {{/each}}
</div>