<main class="cards">
    {{#each albums}}
    <article class="card">
        <div class="text">
            <b>{{this.name}}</b>
                {{#if this.images}}
                    <img src="{{this.images.0.url}}" alt="{{this.name}}" class="album-img">
                {{else}}
                    <img src="/images/no-image.svg" alt="{{this.name}}" class="artist-img">
                {{/if}}
            <button><a href="/tracks/{{this.id}}" class="view-button">View Tracks</a></button>
        </div>
    </article>
    {{/each}}
</main>