<div class="flex-direction">
{{#each albums}}
    <div class="results-styles">
        <img src="{{this.images.[0].url}}" alt="{{this.name}}">
        <div class="namelink">
        <h2>{{this.name}}</h>
        <li><a href="/tracks/{{this.id}}">View Tracks</a></li>
        </div>
    </div>
{{/each}}
</div>
<button class="close-plp"><a href="/{{ id }}">BACK TO HOME</a></button>