{{#if artistName}}
  <h1 id='ArtistHeading'>Listen to<span> {{artistName}} </span>on:</h1>
{{/if}}
{{#unless artistName}}
  <h3 id='ArtistHeading'>Something went wrong with the artists name here, please reload the page</h3>
{{/unless}}

<h2>{{this.name}}</h2>
<div class='artist-page-wrap'>

  {{#each albumDataBodyArray}}

    <div class='artist-image-wrap'>

      <img src='{{this.images.1.url}}' alt='Picture of {{this.name}}' />
      <h2>{{this.name}}</h2>

      <a href='/tracks/{{this.id}}'>View Tracks</a>
    </div>

  {{/each}}
</div>