{{!-- <h2>Albums for: {{albums.0.artists.0.name}}</h2> --}}
<h2>{{artistName}}</h2>

{{#each albums}}
<img src="
    {{#if images}}
        {{ images.0.url }}
    {{else}}
        /images/noimageavailable.png
    {{/if}}
" alt="">
<h3>{{name}}</h3>
<a href="/tracks/{{id}}"><button>View Tracks</button></a>
{{/each}}