<section class="artistsearch">
    {{#each albums}}
    <article class="artistarticle">
            <figure>
            {{#if this.images}}
                <img src="{{this.images.0.url}}" alt="{{this.name}}">
            {{else}}
                <img src="https://loremflickr.com/640/360" alt="{{this.name}}">
            {{/if}}
            </figure>
            <p>Name: {{this.name}}</p>
            <a href="/tracks/{{this.id}}">View Tracks</a> 
    </article>
    {{/each}}
</section>
