<h4 id="album">Albums for: {{allAlbums.0.artists.0.name}}</h4>
<section class="allAlbums">
  {{#each allAlbums}}
    <div class="album-box">
      <img src="{{this.images.1.url}}" alt="{{this.name}}" />
      <h4>{{this.name}}</h4>
      <button><a href="/tracks/{{this.id}}" class="button">View tracks</a></button>
    </div>
  {{/each}}
</section>