<div class="gallery albums">

    {{#each albums}}

    <figure class="galleryItem">

        <a href="/tracks/{{this.id}}">

            {{#if this.img}}
            <img src="{{this.img}}" alt="{{this.name}}" />
            {{else}}
            <div class="noimg">&nbsp;</div>
            {{/if}}

        </a>
        <figcaption>{{this.name}}<a class="button" href="/tracks/{{this.id}}">View Tracks</a></figcaption>

    </figure>

    {{/each}}
</div>