<div>
    {{#each albums}}
    <div class="album">
        <h2>{{name}}</h2>
        <img src="{{images.[0].url}}" alt="{{name}} cover">
        <a href="/tracks/{{id}}">View Tracks</a>
    </div>
{{/each}}
    {{!-- <h1>Artist Albums</h1>
    {{#each albums}}
        <div class="album">
            <h2>{{name}}</h2>
            <img src="{{images.[0].url}}" alt="{{name}} cover">
        </div>
    {{/each}} --}}
</div>