

{{#each items}}
<img src="{{this.images.[2].url}}" width="{{this.images.[2].width}}" heigth="{{this.images.[2].heigth}}" alt="">
<div>{{this.name}}</div>
<a href="/tracks/{{this.id}}">View tracks</a><br><br>

{{/each}}