{{#with artist}}
    <div class="title">
        <h2> {{name}} albums</h2>
    </div>
{{/with}}
<div class="card-container">
    {{#each albums }}
    <a class="card" href="/albums/tracks/{{id}}"> 
        {{!-- <img class="card-img" src="{{images.[0].url}}" alt="band" width="150" height="150"> {{name}} </img> --}}
        <img class="card-img" src="{{images.[0].url}}" alt="band" width="150" height="150"> 
        {{name}}
        </img>

    </a>
    {{/each}}
</div>