<h2>Albums for: {{albums.[0].artists.[0].name}}</h2>
<div class="container">
    {{#each albums}}
        <div class="search__album">
            {{#if images}}
                <img src="{{images.[1].url}}" alt="image of {{name}}">
            {{else}}
                <img width = "300" height = "300" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/1200px-No-Image-Placeholder.svg.png" alt="image of none">
            {{/if}}
            <h1>{{name}}</h1>
            <div class="btn">
                <a href="/tracks/{{id}}">View Tracks</a>
            </div>
        </div>
    {{/each}}
</div>
