<h1 id="albums-h1">Albums for: {{albumName}} </h1>

<div class="row search">
    {{#each albums}}
    <div class="col-md-4">
        <div class="card card-album">
            <img class="card-img-top" src={{images.0.url}} alt={{name}} />
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <a href="/tracks/{{id}}" class="btn btn-danger">View Tracks</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>