

<div class="searchResults results">
    {{#each albumResults}}
    <div class="searchResultBox">
    {{#if this.images.[0].url}}
      <img src="{{this.images.[0].url}}" alt="{{this.name}} album">
      {{else}}
      <img src="/images/no-album-art.jpeg" alt="{{this.name}} album">
      {{/if}}
        <div class="searchResultBoxText">
            <h4>{{this.name}}</h4>
             <a href="/tracks/{{this.id}}">View Tracks</a>
        </div>
    </div>
    {{/each}}
</div>



