<h1>Albums results for:{{this.name}}</h1>

  {{#each albums}}

    <h4>{{name}}</h2>
     <img src="{{images.[0].url}}" alt={{name}}" />
      <button>
                    <a href="/tracks/{{id}}">Tracks</a>
                </button>
          
     {{/each}} 

