<container>
  {{#each artistAlbums}}
    <div>
      <article>
        <h1>{{this.name}}</h1>

        <img src="{{images.0.url}}" alt="artist-image" width="500px" />

        <h3>Release date:</h3>
        <p>
          {{this.release_date}}
        </p>

        <h3> Tracks:</h3>
        <p>
          {{this.total_tracks}}
        </p>

        <h3> <a href="/view-tracks/{{this.id}}"> View tracks </a></h3>
      </article>
    </div>
  {{/each}}
</container>