<title>{{album.0.name}}...</title>

<h2 class="uk-heading-medium uk-secondary uk-text-bold uk-text-warning">{{album.0.name}}... </h2>
<div class="uk-child-width-1-3 uk-margin-medium-top uk-grid-match uk-grid">
  {{#each album}}
   <div>
  <div class="uk-card uk-card-default">
    <div class="uk-card-media-top">
      <img src={{images.0.url}} alt="{{name}}" width="100%" height="250" />
    </div>
    <div class="uk-card-body uk-card-hover uk-card-secondary">
      <h3 class="uk-card-title">{{name}}</h3>
        <a
          href="/tracks/{{id}}"
          class="uk-button uk-button-danger"
        >View Tracks</a>
    </div>
  </div>
</div>
  {{/each}}
</div>