<h1>Albums</h1>

{{#if albums}}
  <ul>
    {{#each albums}}
      <li>
        <h2>{{this.name}}</h2>
        {{#if this.images.length}}
          <img
            src="{{this.images.0.url}}"
            alt="{{this.name}}"
            style="width: 200px;"
          />
        {{else}}
          <p>No hay image disponible.</p>
        {{/if}}
        <form action="/tracks/{{this.id}}" method="GET">
          <button type="submit">Ver canciones</button>
        </form>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No hay albums encontrados.</p>
{{/if}}