{{!-- <h1>Albums for:{{albums.artists.name}}</h1> --}}
<div class="album-container">
  {{#each items}}
    <div class="inner-album">
      {{#if images}}
        <img src="{{this.images.0.url}}" alt="{{this.name}}" />
      {{/if}}
      <div class="album-name">
        <h4>{{this.name}}</h4>
      </div>
      <a class="btn" href="/tracks/{{this.id}}">View Tracks</a>
    </div>
  {{/each}}
</div>