<div>
    <h1>Albums for: {{artists.name}}</h1>
    {{#each albums}}
    <h2>{{name}}</h2>
    <img src="{{images.[0].url}}" alt="{{name}}">
    <a href="/tracks/{{id}}">Tracks</a>
    {{/each}}
</div>