<div>
    {{#each artistAlbums}}
</div>
<img src="{{images.[0].url"}}" alt="hi">
<p>name: {{this.name}}</p>
<p>release date: {{this.release_date}}</p>
<p>total tracks: {{this.total_tracks}}</p>
<a href="/albums/tracks/{{this.id}}">See tracks</a>
</div>
{{/each}}
</div>