<div class="result-list">
    <h1>Album results for: {{artistName}}</h1>
    <div class="result-list-flex">
        {{#each albums}}
        <div class="card">
            <img src="
                {{#if images}}
                    {{ images.0.url }}
                {{else}}
                    /images/noimageavailable.png
                {{/if}}
            " alt="">
            <h2>{{name}}</h2>
            <a href="/tracks/{{id}}"><button>View tracks</button></a>
        </div>
        {{/each}}
    </div>
</div>