<h1> Albums for: {{name}}</h1>

<ul>
  <li><a href="/">Home</a></li>
</ul>
{{!-- <div>
    

  {{#each artist}}
    <div>

      {{#if images}}
        <img src="{{images.0.url}}" alt="image-{{name}}" width="250px" />
      {{else}}
        <img
          src="https://via.placeholder.com/250x250"
          alt="no_image_availible"
        />
      {{/if}}
    </div>
    <h2>{{name}}</h2>
    {{genres}}
    <a href="/albums/someArtistIdGoesHere">View Albums</a>

  {{/each}}
</div> --}}