<h1>Álbumes</h1>

<ul>
    {{#each allAlbums}}
     <li>
         {{this.name}}
         <img src="{{this.images.url}}">
         <a href="/tracks/{{this.id}}">View Tracks</a>
     </li>
     {{/each}}
</ul> 

<!--<div>
  <h1>álbumes</h1>
<ul>
{{#each artist}}
    {{this.name}}
    {{this.albums}}

{{/each}}
</ul>
</div>
-->