<h1>Albums for: {{artists.name}}</h1>
<div class="albums">
    {{#each albums}}
    <div class="containerAlbums">
        <h2>{{name}}</h2>
        <img src="{{images.[0].url}}" alt="{{name}}">
        <a href="/tracks/{{id}}">Tracks</a>
    </div>
    {{/each}}
</div>