<h2>Albums from the Artist: "{{data.body.items.0.artists.0.name}}"</h2>
<div class="result">
  {{#each data.body.items}}
  <div class="resultBox">
    {{this.name}}
     <img src="{{this.images.0.url}}" width="100" alt="{{this.name}}">
    <br>
    <a href="/tracks/{{this.id}}">View Tracks</a>
  </div>
  {{/each}}
</div>
