

{{#each albums}}
    <h1>
    {{ name }}
    </h1>
    <br>

    <img src=" {{ images.[0].url }} " height="200"/> 
    
    <br>
    </br>

    {{album-type}}
    {{!-- {{#each genres}}
        <li>
        {{ this }}
        </li>
    {{/each}} --}}

    <br>

    {{!-- Followers: {{ followers.total }}

    <a href="/albums/{{id}}" >View Albums</a> --}}
{{/each}}