<section id="albums-page">
  {{#each artistAlbums}}

    <div class="card bg-dark text-white">
      {{#if images.0.url}}
        <img
          src="{{images.0.url}}"
          class="card-img"
          alt="{{this.name}}-image"
        />
      {{else}}
        <img
          src="/images/spotify-background.jpeg"
          class="card-img"
          alt="{{this.name}}-image"
        />
      {{/if}}

      <div class="card-img-overlay">
        <h5 class="card-title"><strong>{{this.name}}</strong></h5>

        <p class="card-text">Tracks: {{this.total_tracks}}</p>
        <p class="card-text">Release date: {{this.release_date}}</p>

        <a href="/view-tracks/{{this.id}}" class="btn btn-primary">View tracks</a>

      </div>
    </div>
    {{!-- <div>
      <article>
        <h1>{{this.name}}</h1>

        <img src="{{images.0.url}}" alt="artist-image" width="500px" />

        <h3>Release date:</h3>
        <p>
          {{this.release_date}}
        </p>

        <h3> Tracks:</h3>
        <p>
          {{this.total_tracks}}
        </p>

        <h3> <a href="/view-tracks/{{this.id}}"> View tracks </a></h3>
      </article>
    </div> --}}
  {{/each}}
</section>