
{{#each this.items }}
<img src="{{this.images.[2].url}}" width="{{this.images.[2].width}}" height="{{this.images.[2].height}}" />
<a href="/tracks/{{this.id}}">View tracks</a>
<div>{{this.name}}</div>
{{/each}}
