{{#if albumsArr}}
<h1>List of albums from {{artist}}:</h1>
{{else}}
<h1 hidden>List of albums:</h1>
{{/if}}

{{#each albumsArr}}
<section class="album-summary">
    <img src="{{this.images.[0].url}}" alt="">
    <h2>{{this.name}}</h2>
    <div><a href="/tracks/{{this.id}}">View tracks</a></div>


</section>
{{else}}
<section class="album-summary">
    <h2>Cannot find your search</h2>
</section>
{{/each}}