<h1>Albums for: {{name}}</h1>

<div class="row row-cols-1 row-cols-md-2">
    {{#each albums}}
    <div class="col mb-4">
        <div class="card">
            <img src="{{images.[0].url}}" class="card-img-top" alt="{{name}}">
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <a href="/tracks/{{id}}" class="card-text">View tracks</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>