<h2 class="albums">Albums for {{albums.0.artists.0.name}}</h2>

<div class="container">
    <div class="row">
        {{#each albums}}
        <div class="col-4">
            <img src={{images.1.url}} alt="{{this.name}} photo" id="card-img">
            <div class="card-info">
                <h3>{{name}}</h3>
                <a href="/view-tracks/{{this.id}}">View Tracks</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>