<hi>In albums</hi>
<ul>
    {{#each albums}}
<li> {{this.name}}</li>
<br>
<img src="{{this.images.1.url}}" alt="{{this.name}}">
<h2>{{this.name}}</h2>
<a href="/tracks/{{this.id}}"><button type="button">View Tracks</button></a>
{{/each}}
</ul>