<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Album Result</title>
</head>
<body>
     
     
    <h1>{{this.name}} Albums</h1>

     {{#each artistId}}   
         <h3> {{this.name}}</h3>
           <img src="{{this //cover img goes here}}" />

     <button><a href="/albums/{{this.id}}">View Tracks</a></button>
     <img src="{{this.images.0.url}}" />

      {{/each}}
    
</body>
</html>