<h1>Albums for: {{artistsFound}}</h1>
<div class="resultPage">
    {{#each albumsFound}}
    <div class="resultCard">
        {{#if images}}
        <img src="{{images.0.url}}" alt="{{name}}">
        {{else}}
        <img src="/images/spotifyicon.png" alt="Spotify logo">
        {{/if}}
        <h3>{{name}}</h3>
        <button><a href="/tracks/{{id}}">View tracks</a></button>
    </div>
    {{/each}}
</div>