
<h1>Albums for: {{this.items.[0].artists.[0].name}}</h1>

{{log "albums received" this}}
{{log "albums artist" this.artists}}

<div id="list">

    {{#each this.items}}
        {{!-- {{log this}} --}}
        <div class="album item">
            {{!-- {{log "album" this}} --}}
            {{#if this.images.[0]}}
                <img src="{{this.images.[0].url}}" alt="{{this.name}}">
            {{else}}
                <img src="/images/missing.svg" alt="{{this.name}}">
            {{/if}}
            <span>{{this.name}}</span>
            <a href="/album/{{this.id}}">View Album details</a>

        </div>
        {{!-- {{this.name}} --}}
    {{/each}}

</div>