<div>

{{#each allAlbums}}
<h1>Album for: {{this.artists.0.name}} </h1>
<h1>
{{this.name}}
</h1>
<img src="{{this.images.0.url}}" alt="{{this.name}}">
<a href="/tracks/{{id}}">Preview Song</a>

{{/each}}

</div>
</section>