<h2><a class="homebtn" href="/"><img src="/images/spotify-logo.png" alt="home"></a>Albums of {{albums.artist}}</h2>

<div class="results">

    {{#each albums.albumArr}}
    <div class="card">    
        {{#if images}}
        <img src="{{images.0.url}}" alt="image-{{name}}" width="150px">
        {{else}}
        <img src="/images/spotify-logo.png" alt="no-image-available" />
        {{/if}}        
        <h5>{{name}}</h5>
        <a href="/{{name}}/tracks/{{id}}">View tracks</a>
    </div>
    {{/each}}
</div>