<h1 class="heading">Albums of {{artistName}}</h1>
<div id="albumsContent">
  {{#each albums}}
    <div class="albumContainer">
      <img class="albumImage" src="{{images.0.url}}" />
      <h2 class="albumName">{{name}}</h2>
      <a class="tracksButton" href="/tracks/{{id}}?albumName={{name}}">View
          Tracks</a>
        

        
      
    </div>
  {{/each}}

</div>