<div id="albums">
    <div class="container">
        {{!-- <h3>Albums for: { }</h3> --}}
        <div class="row">
            {{#each albums }}
            <div class="col-lg-4 col-md-6 col-sm-12 p-3">
                <div class="card ">
                    <a href="/tracks/{{uri}}" class="card-link"></a>
                    {{!-- <img class="card-img-top" src="{{images.0.url}}" alt="{{name}}"> --}}
                    <img class="card-img-top" src="{{images.url}}" alt="{{name}}">
                    <div class="card-body bg-secondary d-flex justify-content-center m-0 p-0">
                        <h5 class="card-title text-white pt-2 text-center pl-1 pr-1">{{ name }}</h5>
                        <a href="/tracks/{{uri}}" class="btn btn-primary bg-danger">View Tracks</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
