{{#each albumArr}}
<h1>{{this.name}}</h1>
<img src="{{this.images.0.url}}" />
<a href="/tracks/{{id}}" >View Tracks</a>
{{/each}}

{{!-- {{#each images}}
    <img src="{{url}}" />
    <p>{{this.url}}</p>
    {{/each}} --}}