{{#each search}}
    {{this.name}}
    {{#if images}}
        <img src="{{this.images.1.url}}" alt="{{this.name}}" />
    {{else}}
        <img
            src="https://www.instagram.com/p/CZE5-xtIlGw/"
            alt="Image Frances"
        />
    {{/if}}
    <a href="/albums/{{this.id}}">View Albums</a>
{{/each}}