{{#each this.body.artists.items}}
    <p>{{{this.name}}}</p>
    <p>{{{this.images}}}</p>
    <p>{{{this.href}}}</p>
    
{{/each}}

{{!-- {{#each artistSearched.body.artists.items}}
{{this.name}}
 {{!-- {{#each images.[0]}} --}}
{{!-- <img src="{{this}}" alt="">
{{/each}}
{{/each}} --}} 
