<main class="cards">
    {{#each artists}}
    <article class="card">
        {{#if this.images}}
            <img src="{{this.images.0.url}}" alt="{{this.name}}">
        {{else}}
            <img src="/images/no-image.svg" alt="{{this.name}}">
        {{/if}}
        <div class="text">
            {{this.name}}
            <button><a href="/albums/{{this.id}}" class="view-button">View all albums</a></button>
        </div>
    </article>
    {{/each}}
</main>