


  <h1>Artists</h1
      <div>
      {{#each artists}} 
      <img src="{{images.[0].url}}" alt=" {{this.name}}"  {{this.href}}>
      <p>{{this.name}}</p>
      <p><a href="{{this.href}}">View Albums</a></p>
       {{/each}}
      </div>

     