<h2><a class="homebtn" href="/"><img src="/images/spotify-logo.png" alt="home"></a>Search results</h2>

<div class="results">
    {{#each artist}}
    <div class="card">    
        {{#if images}}
        <img src="{{images.0.url}}" class="card-img-top" alt="image-{{name}}">
        {{else}}
        <img src="/images/spotify-logo.png" alt="no-image-available" />
        {{/if}}  
        <h5>{{name}}</h5>
        <a href="/{{name}}/albums/{{id}}">View Albums</a>
    </div>
    {{/each}}
</div>
    

