{{#each items}}
<div>
    <a href="{{external_urls.spotify}}">Listen on Spotify</a> <br>
    followers: {{followers.total}} <br>
    genres:<br>
    <ul>
        {{#each genres}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
    <a href="{{href}}">{{href}}</a><br>
    {{>common}}
    Popularity: {{popularity}}
    <a href="/{{name}}/albums/{{id}}">View Albums</a>
</div>    
{{/each}}