{{!-- {{#each artists}}
<p>{{this.name}}</p>
<img src="{{this.images.0.url}}">
<a href="/albums/{{this.id}}"><Button>View albums</Button></a>

{{/each}} --}}
    {{#each artists}}
        <div class="container">
            <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{this.images.0.url}}" alt="">
            <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <a href="/albums/{{this.id}}">View Album</a>
        </div>
        </div>
    </{{/each}}
