


<div class="searchResults results">
    {{#each searchResults}}
    <div class="searchResultBox">
    {{#if this.images.[0].url}}
      <img src="{{this.images.[0].url}}" alt="{{this.name}} album">
      {{else}}
      <img src="/images/no-album-art.jpeg" alt="{{this.name}} album">
      {{/if}}
        <div class="searchResultBoxText">
            <h4>{{this.name}}</h4>
            <a href="/albums/{{this.id}}">View Albums</a>
        </div>
    </div>
    {{/each}}
</div>


{{!-- The received data from the API:  [
  {
    external_urls: {
      spotify: 'https://open.spotify.com/artist/3c3NbrBWqQzG5Xni2DLi9a'
    },
    followers: { href: null, total: 37 },
    genres: [],
    href: 'https://api.spotify.com/v1/artists/3c3NbrBWqQzG5Xni2DLi9a',
    id: '3c3NbrBWqQzG5Xni2DLi9a',
    images: [ [Object], [Object], [Object] ],
    name: 'Raini Lofi',
    popularity: 8,
    type: 'artist',
    uri: 'spotify:artist:3c3NbrBWqQzG5Xni2DLi9a'
  }
] --}}


