<div class="search-results">

{{!-- {{#each artists}}
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{this.images.0.url}}" alt="artist image">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <a href="/albums/{{this.id}}" class="btn btn-primary">View Albums</a>
  </div>
</div>    
{{/each}} --}}

{{#each artists}}
<div class="card">
 
  <img src="{{this.images.0.url}}" alt="artist image">
  <p>{{this.name}}</p>
  <a href="/albums/{{this.id}}">View Albums</a>
</div>
{{/each}}

</div>