<div>
    {{#each database}}
    <a href="/albums/{{this.id}}">View Albums</a>
    <img src="{{this.images.[2].url}}" alt="{{this.name}}">
    <p>{{this.name}}</p>
    {{!-- <a href="/albums/{{this.id}}">View Albums</a> --}}

    {{/each}}
</div>