<div>
  {{#if items}}
  {{#each items}}
  <main>
    <div>
      <img src="{{this.images.[0].url}}" alt="{{this.name}} photo">
    </div>
    <div>
      <h2>{{this.name}}</h2>

      <a href="/albums/{{this.id}}">View Albuns</a>
    </div>
  </main>
  {{/each}}
  {{else}}
  <h1>Could not find artist</h1>
  {{/if}}
</div>