<h1>Arists will be displayed here</h1>

{{#each artists}}

  <div class="artist-grid">
    <div class="artist-container">
      <h1> {{this.name}} </h1>
      <img class="artist-img" src="{{this.images.0.url}}" alt="" />
      <a href="/albums/{{id}}" name=""> <button>View Albums</button></a>
      {{!-- <li><a href="/products/{{_id}}">{{name}}</a></li> --}}
    </div>
  </div>

{{/each}}