{{!-- {{#each result}}
<img src="{{this.images.0.url}}" alt="{{this.name}}"/>
<h2>{{this.name}}</h2>
<button href ="/albums/{{id}}" type='input'>View Albums</button>
</div>
{{/each}} --}}

{{#each result}}
<h1>{{this.name}}</h1>
<img class="artist-img" src="{{this.images.0.url}}" alt="artist img">
<button><a href="/albums/{{id}}">View Albuns</a></button>
{{/each}}