<div class="container">
  <h1>Artist</h1>
  <div class="row">

    {{#each artists}}
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="{{images.1.url}}" alt="{{name}}.img" />
          <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">{{popularity}}</p>
            <a href="/albums/{{id}}">View Albums</a>
          </div>
        </div>
      </div>
    {{/each}}

  </div>
</div>