
<section>

{{#each artists}}
    <article>
        <p>{{this.name}}</p>

    {{#if this.images}}
       <figure>
           <img src="{{this.images.1.url}}" alt="{{this.name}}">
       </figure>
    {{else}}
        <figure>
           <img src="https://via.placeholder.com/150" alt="{{this.name}}">
        </figure>    

    {{/if}}

         <a href="/albums/{{this.id}}">View Albums</a>

    </article>
{{/each}}


<a href="/albums/{{id}}/{{name}}">View Albums</a>
</section>


