<section id="search-results">
  {{#each searchedArtists}}

    <div class="card" style="width: 18rem;">
      {{#if images.0.url}}
        <img
          src="{{images.0.url}}"
          class="card-img-top"
          alt="{{this.name}}-image"
        />
      {{else}}

        <img
          src="/images/spotify-background.jpeg"
          class="card-img-top"
          alt="{{this.name}}-image"
        />
      {{/if}}

      <div class="card-body">
        <h4 class="card-title"><strong>{{this.name}}</strong></h4>

        {{#if genres}}
          <p class="card-text">
            <strong>Genre:</strong>
            <br />
            {{genres}}
          </p>
        {{/if}}

        <a href="/albums/{{this.id}}" class="btn btn-primary">View Albums</a>
      </div>
    </div>

  {{/each}}
</section>