<section class="search-results">
    {{#each artistsArr}}
    <div class="data">
        {{#if this.images.[0].url}} 
        <img src="{{this.images.[0].url}}" alt="{{this.name}} image">
        {{else}}
        <img src="/images/artist-placeholder.png" alt="artist placeholder image">
        {{/if}}
        <h2>{{this.name}}</h2>
        <a class="search-link" href="/albums/{{this.id}}">View Albums</a>
    </div>
    {{/each}}
</section>
