<div class="result-list">
    <h1>Search results for: {{searchedItem}}</h1>
    <div class="result-list-flex">
        {{#each artistList}}
        <div class="card">
            <img src="
                {{#if images}}
                    {{ images.0.url }}
                {{else}}
                    /images/noimageavailable.png
                {{/if}}
            " alt="Image of {{name}}">
            <h2>{{name}}</h2>
            <a href="/albums/{{id}}"><button>View albums</button></a>
        </div>
        {{/each}}
    </div>
</div>