<h1>Search results for:
{{artistFromForm}}
</h1>
    

{{#each searchResults }}



<div class="col-md-4">
    <img class="card-img-top" src={{images.0.url}} alt="" />
    <div class="card-body">
        <h5 class="card-title">Name: {{name}}</h5>
        <p class="card-text">Genres: {{genres}}</p>
        <a href="/album-results/{{id}}" class="btn btn-primary">See Albums</a>
            
    </div>
</div>

{{/each}}