<ul>
    {{#each artists}}
    <li>{{this.name}}
        <br />
        {{#if this.images}}
            <img src="{{this.images.0.url}}" >
        {{else}}
            <img src="" alt="{{this.name}}">
        {{/if}}
        <a href="/albums/{{this.id}}">View albums</a>
    </li>
    {{/each}}
</ul>