<ul>
    {{#each artists}}
    <li>
        <b>{{this.name}}</b>
        <p>
            {{#if this.images}}
            <img src="{{this.images.0.url}}" alt="{{this.name}}" class="artist-img">
            {{else}}
            <img src="/images/no-image.svg" alt="{{this.name}}" class="artist-img">
            {{/if}}
        </p>
        <a href="/albums/{{this.id}}">View all albums</a>
    </li>
    {{/each}}
</ul>
HELLLLOOOOOO