{{#each data as |artist|}}
<div class="row beer-detail">
  <div class="col-12 col-md-2 text-center">
    <img class="img-fluid" src="{{ artist.images.0.url }}" alt="{{ artist.name }}" />
  </div>
  <div class="col-12 col-md-10">
    <h1 class="mb-2">{{ artist.name }}</h1>
    <p class="text-muted mb-2">{{ artist.tagline }}</p>
    <p>{{ artist.description }}</p>
  </div>
  <button> <a href="albums/{{artist.id}}">View album</a> </button>
</div>
{{/each}}
