<h1>Artists</h1>
<div class="resultPage">
    {{#each artistsFound}}
    <div class="resultCard">
        {{#if images}}
        <img src="{{images.0.url}}" alt="{{name}}">
        {{else}}
        <img src="/images/spotifyicon.png" alt="Spotify logo">
        {{/if}}
        <h3>{{name}}</h3>
        <button><a href="/albums/{{id}}">View albums</a></button>
    </div>
    {{/each}}
</div>