<ul>
    {{#each artists}}
        <li>{{ this.name }}
            <br>
            {{#if this.images}}
                <img src="{{this.images.2.url}}" alt="{{this.name}}">
            {{else}}
                <img src="/images/MusicDisc.png"
                    alt="{{this.name}}" style="width: 160px">
            {{/if}}
            <br>
            <a href="/albums/{{this.id}}">View albums</a> </li>
    {{/each}}
</ul>