{{#each artistData}}

<div class="card" style="width: 18rem;">
    <img src="{{#if images}}{{images.0.url}}{{else}}/images/default.jpeg{{/if}}" class="card-img-top" alt="{{this.name}}">
    <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <a href="/albums/{{this.id}}" class="btn btn-primary">View albums</a>
    </div>
</div>

{{/each}}










