<div>
    {{#each resultOfSearch}}
    {{#with this}}
    {{!-- <div>
       <img src="{{images.[0].url}}" alt="Result image">
    </div>
    <div>
        <h3>{{name}}</h3>
        <a href="/albums/{{id}}">View Albums</a>
    </div> --}}
    <div class="card" style="width: 18rem;">
      <img src="{{images.[0].url}}" class="card-img-top" alt="artist-img">
      <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <a href="/albums/{{id}}" class="btn btn-primary">View Albums</a>
      </div>
    </div>
    {{/with}}
    {{/each}}
</div>