<div class="container">
  <div class="row">
    {{#each artist}}
        <div class="col">
            {{#if images}}
                <img src={{images.1.url}} alt="{{name}}">
            {{else}}
                <img src="https://camo.githubusercontent.com/c6fe2c13c27fe87ac6581b9fe289d2f071bd1b4ef6f3e3c5fc2aba0bbc23fd88/68747470733a2f2f75706c6f61642e77696b696d656469612e6f72672f77696b6970656469612f636f6d6d6f6e732f372f37632f50726f66696c655f6176617461725f706c616365686f6c6465725f6c617267652e706e67" alt="No image">
            {{/if}}
            <div class="artist-name-div">
                <h2>{{name}}</h2><br>
                <button><a href="/albums/{{id}}">View Albums</a></button>
            </div>
        </div>
    {{/each}}
  </div>
</div>