<h1>List of Artists:</h1>
<div class="container">
  {{#if items}}
  {{#each items}}
    <div class="summary">
      <div class="img-container">
        {{#if this.images.0.url}}
        <img src="{{this.images.0.url}}" alt="image for album" />
        {{else}}
                <h2>Sorry, no image Available</h2>
                {{/if}}
      </div>

      <div class="artist-container">
        <h4>{{this.name}}</h4>
        <button id="view-albums" type="submit">
          <a href="/albums/{{this.id}}"> View Albums</a>
        </button>
      </div>
    </div>
  {{/each}}
  {{else}}
  <h1>Sorry, No artistes Found.Try Again!</h1>
  {{/if}}
</div>