<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artists</title>
</head>
<body>
    <h1>Search results for "{{query}}"</h1>
    <ul>
        {{#each response.artists.items}}
        <li>
            <a href="/albums/{{id}}">View Albums </a>
            <img src="{{images.0.url}}" alt="{{name}}">
            <h2>{{name}}</h2>
        </li>
        {{/each}}
    </ul>
</body>
</html>