

<div>
  <h1>Artists</h1>
  <div class=>
      {{#each artists}} 
         <h5>
        {{this.name}}
        </h5>
        <h5>
        {{this.href}}
        </h5>
       <h5>{{this.uri}}</h5>

         <img src="{{this.href}}" alt="{{this.name}}"/>
      {{/each}}
  </div>
</div>
