<h1>Results For "{{artist}}":</h1>

<section class="results-container">

    {{#each artistsArr}}
    <div class="artist-container">
        <div class="img-container">
            {{#if this.images.0.url}}
            <img src={{this.images.0.url}} alt={{this.name}}>
            {{else}}
            <img src="/images/logo.png" alt={{this.name}}>
            {{/if}}
        </div>
        <div class="artist-footer">
            <h3>{{this.name}}</h3>
            <a href="#">View Albuns</a>
        </div>
    </div>
    {{else}}
    <h2>No artists found</h2>
    {{/each}}

</section>
