
<div class="list">
{{#each artists}}
<div >
  <li class="card">
    <h2>{{name}}</h2>
    {{#if images.length}}
      <img src="{{images.0.url}}" alt="{{name}} Image" style="width:250px; hight:inherit" />
    {{else}}
      <p>No image available</p>
    {{/if}}
    <a href="/albums/{{id}}">Show Albums</a>
  </li>
  </div>
{{/each}}
</div>