<div class="gallery artists">

    {{#each artists}}

    <figure class="galleryItem">


        <a href="/albums/{{this.id}}">

            {{#if this.images.1.url}}
            <img src="{{this.images.1.url}}" alt="{{this.name}}" />
            {{else if this.images.0.url}}
            <img src="{{this.images.0.url}}" alt="{{this.name}}" />
            {{else}}
            <div class="noimg">&nbsp;</div>
            {{/if}}

        </a>
        <figcaption>{{this.name}}<a class="button" href="/albums/{{this.id}}">View Albums</a></figcaption>


    </figure>

    {{/each}}
</div>