{{#each artists}}
  <div class="art">
    <h3>{{name}}</h3>
    {{#if images.length}}
      <img src="{{images.[2].url}}" alt="{{name}}">
    {{else}}
      <p>No image available</p>
    {{/if}}
    <a href="/albums/{{id}}">View albums</a>
  </div>
{{else}}
  <p>No artists found</p>
{{/each}}