{{!-- {{log "received" this}} --}}

<div id="list">

    {{#each this.artists.items}}
        {{!-- {{log this}} --}}
        <div class="artist item">
            {{log "artist" this}}
            {{#if this.images}}
                <img src="{{this.images.[0].url}}" alt="{{this.name}}">
            {{else}}
                <img src="/images/missing.svg" alt="{{this.name}}">
            {{/if}}
            <span>{{this.name}}</span>
            <a href="/albums/{{this.id}}">View Albums</a>

        </div>
        {{!-- {{this.name}} --}}
    {{/each}}

</div>