<ul class="list">
    {{#each artists}}
        <li class="list_li">{{ this.name }}
            <br>
            {{#if this.images}}
                <img class="list_image" src="{{this.images.2.url}}" alt="{{this.name}}">
            {{else}}
                <img src="https://user-images.githubusercontent.com/25275745/82283218-ba9ec200-9963-11ea-9fc8-8408b57bef12.png"
                    alt="{{this.name}}" style="width: 160px">
            {{/if}}
            <br>
            <a href="/albums/{{this.id}}">View albums</a> </li>
    {{/each}}
</ul>