<h1>Results for: {{busqueda}}</h1>
<div class="cardContainer">   
{{#each items}}
    <div class="card m-3" style="width: 18rem;">
        {{#if this.images.length}}
            <img src="{{this.images.0.url}}" class="card-img-top cardImg"  alt="...">
        {{/if}}
        <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <a href="/albums/{{id}}/{{busqueda}}" class="btn btn-danger">View Albums</a>
        </div>
    </div>
   
{{/each}}

</div>