{{#if body.artists.items}}
<div class="list-page">
    <div class="list-element">
        {{#each body.artists.items}}

        <div class="element">
            <img src='{{this.images.0.url}}' />
            <p>{{this.name}}</p>
            <a href='/albums/{{this.id}}'>View Albums</a>
        </div>

        {{/each}}
    </div>


    <div class="pagination">
        <a href="/artist-search?search={{body.searchQuery}}&offset={{body.previousOffset}}">❮</a>
        <a href="#">{{body.pageNumber}}</a>
        <a href="/artist-search?search={{body.searchQuery}}&offset={{body.nextOffset}}">❯</a>
    </div>
</div>
{{/if}}