{{#each artistList}}
<h1>{{name}}</h1>
<img src="
    {{#if images}}
        {{ images.0.url }}
    {{else}}
        /images/noimageavailable.png
    {{/if}}
" alt="Image of {{name}}">
<a href="/albums/{{id}}"><button>View albums</button></a>
{{/each}}