<h1 class="heading">Search result of {{artist}}</h1>
<div id="artistSearchResult">
  {{#each artists}}
    <div class="artistContainer">
      <img class="artistImage" src="{{images.0.url}}" alt="resultImage" />
      <h2 class="artistName">{{name}}</h2>
      <a class="albumsButton" href="/albums/{{id}}?artistName={{name}}">View albums</a>
    </div>
  {{/each}}
 
</div>