{{#each artists}}
<img src='{{this.images.[0].url}}' alt="a picture of {{name}}">
<div>
<h1>{{this.name}}</h1>
{{!-- <h1>Popularity:{{Popularity}}</h1> --}}
<a href="/albums/{{this.id}}">View Albums</a>
</div>
{{/each}}