<h1>Search Results</h1>
<div class="result-wrapper">
{{#each artistList}}
<div class="artist">
{{#if this.images}}
            <img src="{{this.images.0.url}}"
            {{else}}
             <img src="/images/deafault-pic.png"
            {{/if}}
 alt="{{this.name}}">
    <h2>{{this.name}}</h2>
<a href="/albums/{{this.id}}">View albums</a>
<a class="top-track-button" href="/top-tracks/{{this.id}}">View Top Tracks</a>
</div>
{{/each}}
</div>
<a class="home-link" href="/">Search for more!</a>