<div class="container my-5">

    {{#each playlists}}

        <div class="card mb-3">
            <div class="card-body">
                <div class="row align-items-center justify-content-between">
                    <div class="col-2 col-sm-1">
                        <img src="/images/placeholder.png" class="img-fluid rounded" alt="">
                    </div>
                    <div class="col-8">
                        <h6 class="mb-0">{{track.name}}</h6>
                        {{#each track.artists}} <small>{{name}}</small>{{/each}}
                    </div>
                    <div class="col-2">
                        <div class="text-center">
                            {{#if track.preview_url}}
                                <button data-track="{{id}}" data-url="{{track.preview_url}}" class="btn btn-light btn-circle playBtn">
                                    <i class="fas fa-play"></i>
                                </button>
                            {{else}}
                                <small>No track</small>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {{/each}}

    <script>
        let audio = undefined
        let btns = document.querySelectorAll('.playBtn')

        // Pause music
        let pauseMusic = (btn) => {
            btns.forEach(btn => {
                btn.innerHTML = '<i class="fas fa-play"></i>'
            });
            btn.innerHTML = '<i class="fas fa-pause"></i>'
            btn.addEventListener('click', () => {
                btn.innerHTML = '<i class="fas fa-play"></i>'
                audio.pause()
                setListener()
            })
        }

        const setListener = () => {
            btns.forEach(btn => {
                btn.addEventListener('click', () => {
                    if(audio){
                        audio.pause()
                    }
                    audio = new Audio(btn.dataset.url);
                    audio.play()

                    pauseMusic(btn)
                })
            });
        }
        setListener()
    </script>
</div>