<section class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center mb-3 mt-3">Results from: <%- searchParam %></h1>
    </div>
    <% artistList.forEach(artist => { %>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card list-card">
        <% if (artist.images.length !== 0) { %>
          <% for(var i=0; i < artist.images.length; i++) { %>
            <% if (i === 0) { %>
            <img src="<%= artist.images[i].url %>" alt="<%= artist.images[i].url %>" class="background" />
            <% } else if (i === 2) { %>
            <img src="<%= artist.images[i].url %>" alt="<%= artist.images[i].url %>" class="profile" />
            <% } %>
          <% } %>
        <% } else { %>
          <img src="/images/default-artist-background.jpg" alt="default image" class="background" />
          <img src="/images/default-artist-profile.jpg" alt="default image" class="profile" />
        <% } %>
        <div class="card-content">
          <h2>
            <a href="/artist/<%- artist.id %>"><%- artist.name %><small class="text-capitalize"><%- artist.type %></small></a>
          </h2>
          <p>Popularity: <span class="badge badge-pill badge-light"><%- artist.popularity %></span> <br>
          Followers: <span class="badge badge-pill badge-light"><%- artist.followers.total %></span>
          </p>
          <a href="/artist/<%- artist.id %>?artist=<%- artist.name %>" class="btn btn-primary">Go artist</a>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</section>