{{!-- <div class="track-page">
        {{#each listTrack}}
        <div>

                <p>{{this.name}}</p>
                <audio controls src="{{this.preview_url}}"></audio>
                <a href="{{this.external_urls.spotify}}"><img src="/images/download.png" alt="download"
                                class="download-icon"></a>
        </div>
        {{/each}}
</div> --}}

<table>
        <thead>
                <tr>
                        <th>Title</th>
                        <th>Listen</th>
                </tr>
        </thead>
        <tbody>
                {{#each listTrack}}
                <tr>

                        <th>
                                <p>{{this.name}}</p>
                        </th>
                        <th>
                                <audio controls src="{{this.preview_url}}"></audio>
                                <a href="{{this.external_urls.spotify}}">
                                        <img src="/images/download.png" alt="download" class="download-icon">
                                </a>
                        </th>


                </tr>
                {{/each}}
        </tbody>
</table>