<div class="track-card">
  {{!-- <a href="/{{this.title}}"><img src="{{this.poster}}" alt="poster for {{this.title}}"></a> --}}
  <div class="track-details">
    {{#each this.albumTracks}} 
    {{!-- "artistAlbums" has to match / defined by 'res.render' 2nd parameter. --}}
    <p>Name: {{this.name}}</p>
    <audio controls src="{{this.preview_url}}"></audio>
    {{!-- this.id will become a url parameter --}}
    {{/each}}
  </div>
</div>