<h1>Tracks:</h1>
<section class="tracks">
  {{#each tracks}}
    <div class="trackBox">
      <h1>{{this.track_number}}. {{this.name}}</h1>
      <audio controls src="{{this.preview_url}}">
        <a href="{{this.preview_url}}">play</a>
      </audio>
      <a class="button-spotify" target="_blank" href="{{this.external_urls.spotify}}">Listen on Spotify</a>
    </div>
  {{/each}}
</section>