<div class="track-wrapper">
    {{#each data.body.items}}
    <p class="artist-name">{{#each this.artists}}
        {{#if @last}}{{this.name}}
       {{else}}{{this.name}} - {{/if}}{{/each}}</p>
    <p class="track-title">{{this.name}}</p>
    <audio controls>
        <source src="{{this.preview_url}}" type="audio/ogg">
    </audio>
    {{/each}}
</div>