<div class='card mb-3 border border-0'>
  <div class='row g-0'>
    <div class='col-md-4'>
      <img
        src='{{beer.image_url}}'
        class='img-fluid rounded-start card-img-top object-fit-contain'
        style='height: 300px;'
        alt='Image {{beer.name}}'
      />
    </div>
    <div class='col-md-8'>
      <div class='card-body text-start'>
        <h5 class='card-title'><strong>{{beer.name}}</strong></h5>
        <p class='card-text'><small
            class='text-body-tertiary'
          >{{beer.tagline}}</small></p>
        <p class='card-text'>{{beer.description}}</p>
        <p><strong>Food Pairing</strong></p>
        {{#each beer.food_pairing as |food|}}
        <ul>
          <li>{{food}}</li>
        </ul>
        {{/each}}
        <p><strong>Brewers Tips:</strong> {{beer.brewers_tips}}</p>
      </div>
    </div>
  </div>
</div>