<div class="img imgAlbum">
  {{#if this.images.0.url}}
    <img src="{{this.images.0.url}}" alt="">
  {{else}}
    <img src="/img/default-user.png" alt="">
  {{/if}}
</div>
<div class="info infoAlbum">
  <div class="name nameAlbum">{{this.name}}</div>
  <div class="btnAlbum">
    <a class="btnA" href="/artists/{{@root.data.artistId}}/albums/{{this.id}}/tracks">view tracks</a>
  </div>
</div>
