<div class="my-card">
  <img src= {{image_url}} alt="beer image">
  <h3 class="beer-card-name">{{name}}</h3>
  <div class="beer-card-tagline">{{tagline}}</div>
  <div class="beer-card-description">{{description}}</div>
</div>

<h1>{{name}}</h1>
<img src= {{img}} alt="">
<button>Show Albums</button>