
<div class="album-card">
    <div class="album-image">
        <img src="{{images.0.url}}" alt="album-image">
    </div> 
    <h3>{{this.name}}</h3>
    <a href="/tracks/{{this.id}}">View tracks</a>
</div>



{{!-- <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{images.0.url}}" alt="album-image">
  <div class="card-body">
    <h3>{{this.name}}</h3>
    <a href="/tracks/{{this.id}}" class="btn btn-primary">View album</a>
  </div>
</div>

<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="{{images.0.url}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{this.name}}</h5>
      <a href="/tracks/{{this.id}}" class="btn btn-primary">View album</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{{images.0.url}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{this.name}}</h5>
      <a href="/tracks/{{this.id}}" class="btn btn-primary">View album</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{{images.0.url}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{this.name}}</h5>
      <a href="/tracks/{{this.id}}" class="btn btn-primary">View album</a>
    </div>
  </div>
</div> --}}