<div class="uk-card uk-card-default">
  <div class="uk-card-media-top">
    <img src="{{#if images.0.url}} {{images.0.url}} {{else}} https://f4.bcbits.com/img/0011929372_10.jpg {{/if}}" alt="{{name}} album">
  </div>
  <div class="uk-card-body">
    <h3 class="uk-card-title">{{name}}</h3>
    <a class="uk-button uk-button-primary" href="/tracks/{{id}}">View Tracks</a>
  </div>
</div>