<div class="uk-card uk-card-default">
  <div class="uk-card-media-top">
    <img src="{{#if images.0.url}} {{images.0.url}} {{else}} https://cdn3.iconfinder.com/data/icons/black-easy/512/535106-user_512x512.png {{/if}}" alt="{{name}}">
  </div>
  <div class="uk-card-body">
    <h3 class="uk-card-title">{{name}}</h3>
    <a class="uk-button uk-button-primary" href="/albums/{{id}}">Albums</a>
  </div>
</div>