<h3> Albums for {{albumsRes.[0].artists.[0].name}}</h3>

<div class="albums-container">
{{#each albumsRes}}
  <div class="one-album-container">
      <img  src="{{this.images.[0].url}}" alt="{{this.name}} album image">
    <div>
      <p>{{this.name}}</p>
      <a href="/albums/{{this.artists.[0].id}}/tracks/{{this.id}}">View Tracks</a>
    </div>
  </div>
{{/each}}
</div> 