<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Artists</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/artists.css">
</head>
<body>
    <h1>Results for: {{searchName}}</h1>

    <div>
        <ul>
            {{#each listArtists}}
                <li>
                    {{#if this.images.length}}
                        <img src="{{this.images.[0].url}}" alt="">
                    {{else}}
                        <img src="http://sstl.cee.illinois.edu/images/People/na.png" alt="">
                        {{!-- <img src="http://www.art-from-bali.com/images/kunstenaars/0150pix-breed/no_artist.jpg" alt=""> --}}
                    {{/if}}
                    <br>
                    <h3>{{this.name}}</h3>
                    <br>
                    <a href="/albums/{{this.id}}"><button type="button" class="btn btn-danger">View Albums</button></a>
                </li>
            {{/each}}
        </ul>
    </div>
</body>
</html>