


<article class="album-card">
<a href="/tracks/{{this.id}}"><img class="artist-photo" src="{{this.images.1.url}}" alt=""></a>
<div class="album-text">
<a href="/tracks/{{this.id}}"><h1 class="album-title">{{this.name}}</h1></a>
<a href="/tracks/{{this.id}}">View Tracks</a>
</div>
</article>