<div class="row" id="order">
    <div class="col s12 m7">
        <div class="card2  blue-grey lighten-2">
            <div class="card-image">
                <img id="img-card" src="{{images.[1].url}}" alt="{{name}}">
            </div>
            <div class="card-action">
                <h5 class="card-title">{{name}}</h5>
                <p>Tipo: {{album_group}}</p>
                <p>Total tracks: {{total_tracks}}</p>
                <a class="btn red lighten-1" href="/tracks/{{id}}">View tracks</a>
            </div>
        </div>
    </div>
</div>