<div class="album-container">
    <img src="{{images.0.url}}" alt="album cover">
    <div class="information">
        <h2>{{name}}</h2>
        {{!-- <a href="/artists/{{name}}" />View Tracks --}}
        {{!-- <button href="/artists/{{name}}" </button> --}}
        <a href="/tracks/{{id}}" class="button">View Tracks</a>
    </div>
</div>

{{!-- <div class="artist-container">
    <img src="{{images.0.url}}" alt="album cover">
    <div class="information">
        <h2>{{name}}</h2>
        {{!-- <a href="/artists/{{name}}" />View Tracks --}}
{{!-- <button href="/artists/{{name}}" </button> --}}
{{!-- <a href="/albums/{{id}}" class="button">View Albums</a>
</div>
</div>  --}}