<div class="artist__albums__info">
  <img class="artist__albums__info__image" src="{{images.0.url}}" alt="{{name}} album">
  <p class="artist__albums__info__name" href="{{href}}">{{name}}</p>
  <a class="artist__albums__info__tracks-link" href="/tracks/{{id}}">View Tracks</a>
</div>
