


<article class="card">
<a href="/albums/{{this.id}}"><img class="artist-photo" src="{{this.images.1.url}}" alt=""></a>
<div class="artist-text">
<a href="/albums/{{this.id}}"><h1 class="artist-name">{{this.name}}</h1></a>
<a href="/albums/{{this.id}}">View Albums</a>
</div>
</article>