<div class="col-lg-4 artist-container">

  <img {{#if images.0.url.length}} src="{{images.0.url}}" {{else}} src="http://www.designshock.com/wp-content/uploads/2016/04/man-4-400.jpg"
    {{/if}} alt="image-{{name}}" class="artist-img">

  <div class="artist-info-container">
    <p>{{name}}</p>
    <a href="/albums/{{id}}">View Albums</a>
  </div>
</div>