<div class="artist-card">
  <div>{{#if images.[0].url}} <img src="{{images.[0].url}}" alt="{{name}}"> {{else}} <img
      src="https://f4.bcbits.com/img/a4139357031_10.jpg" alt="{{name}}">{{/if}}</div>
  <div>
    <h2>{{name}}</h2>
    <a href="/albums/{{id}}">View Albums</a>
  </div>
</div>