<div class="artists">
    <div> <img src={{this.images.[0].url}} alt={{this.name}}></div>
    <div>
        <div class="p-tag">
            <p> {{this.name}} </p>
        </div>
        <div class="a-tag">
            <a href="/{{typeOf}}/{{this.id}}"><button>View {{typeOf}}</button></a>
        </div>
    </div>
</div>