<div class="card" style="width: 33.333%;">
    <a href="/players/{{this.name}}">
        <img class="card-img-top" src={{this.images.1.url}} alt="">
    </a>
    <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <p class="card-text">{{this.team}}</p>
        <button><a href="/albums/{{this.id}}">View Albums</a></button>
    </div>
</div>