<div class="artistAlbums album">
    <img src="{{this.images.[0].url}}" alt="album photo for {{this.type}} {{this.name}}">
    <div class="info">
        <h2>{{this.name}}</h2>
        <a href="/albums/tracks/{{this.id}}">View Tracks</a>
    </div>
</div>    
