<div>  
  <div>
    <img src="{{ this.images.1.url }}" alt="{{this.name}}">
  </div>
  <div>
    <h2>{{this.name}}</h2>
    <button><a href="/albums/{{this.id}}">View Albums</a></button> 
  </div>
  <br>
</div>
<br>
{{!-- 
    <img src="{{ artist.images.1.url }}" alt="{{artist.name}}">
    <h2>{{artist.name}}</h2>
    <button><a href="{{artist.id}}">View Albums</a></button>  --}}