<div class="artist-container">
    <img src="{{images.0.url}}" alt="album cover">
    <div class="information">
        <h2>{{name}}</h2>
        {{!-- <a href="/artists/{{name}}" />View Tracks --}}
        {{!-- <button href="/artists/{{name}}" </button> --}}
        <a href="/albums/{{id}}" class="button">View Albums</a>
    </div>
</div>