<div class="card">
  {{#if this.images.0.url}}
    <img src="{{this.images.0.url}}" class="card-img-top">
  {{else}}
    <img src="/images/preview.png" class="card-img-top" alt="...">
  {{/if}}
  
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>

    {{!-- <a href="/albums/{{this.id}}">View Albums</a> --}}

    {{#if url}}
      <a href="/albums/{{this.id}}">View Albums</a>
    {{else}}
      <a href="/tracks/{{this.id}}">View Tracks</a>
    {{/if}}
    
  </div>
</div> 