<div class="search__container__element">
  <img class="search__container__element__image" src="{{images.0.url}}" alt="{{name}} album">
  <a class="search__container__element__band-name btn" href="{{href}}">{{name}}</a>
  <a class="search__container__element__band-album btn" href="/album/{{id}}">View Albums</a>
</div>
