<div class="artist-container">
    {{!-- <img src="{{images.0.url}}" alt="album cover"> --}}
    <div class="information">
        <h2>{{name}}</h2>

        <audio controls>
            <source src="{{preview_url}}">
        </audio>
        {{!-- <a href="/artists/{{name}}" />View Tracks --}}
        {{!-- <button href="/artists/{{name}}" </button> --}}
        {{!-- <a href="/tracks/" class="button">View Tracks</a> --}}
    </div>
</div>