<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Spotify Ironhack Express</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" type="css/text" href="../public/stylesheets/style.css">
  </head>
  <body>
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
    </ul>
    <section>
        <h1>Artist: <%= items[0].name %></h1>
        <div class="card-columns">
        <% items.forEach( (item) => { 
                if(item.images.length != 0){
                    imageUrl = item.images[0].url;
                }
            %>
                <div class="card">
                  <img class="card-img-top" src="<%= imageUrl %>" alt="<%= imageUrl %>">
                  <div class="card-body">
                    <h5 class="card-title"><%= item.name %></h5>
                    <p class="card-text"><button><a href="/tracks/<%= item.id %>">View Tracks</a></button></p>
                  </div>
                </div>
        <% }); %>
        </div>
    </section>
  </body>
</html>