<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>
<body>
  {{> nav}}
  <h1 class="header bg"> {{{ artistAlbums.0.artists.0.name }}} Albums</h1>

  <div class="results-container-row">
    {{#each artistAlbums}}
      <div class="results-container">
        {{#if this.images.0.url}}
          <img class="image-resize" src={{this.images.0.url}} alt=`{{this.name}} picture`>
          <p style="color:white">{{this.name}}</a></p>
          
          <button class="input-button" type="submit"><a href="/artists/albums/tracks/{{this.id}}?nameAlbum={{this.name}}">View Tracks</a></button>
          <br>
        {{else}}
          <div class="error-container">
            <img class="small-image" src="/images/sad.png">
            <p>Sorry, picture unavailable</p>
          </div>
          <p style="color:white">{{this.name}}</a></p>
          
          <button class="input-button" type="submit"><a href="/artists/albums/tracks/{{this.id}}?nameAlbum={{this.name}}">View Tracks</a></button>
          <br>
        {{/if}}
      </div>
    {{/each}}
  </div>


</body>
</html>