
<h1>Hi from artist</h1>
<div class="artists-info">
	
	<% names.forEach((n) => { %>
		<p><%= n %></p>
		<img src="<%= images[2].url %>" width="<%= images.width %>" height="<%= images.height %>"></p>
		<button type="button"><a href="/albums/<%= id %>">View More Albums</a></button>
    <% }) %>
		


</div>


