<!-- <% artist.forEach(artist => {%>
  <span> <%= album.name %> </span>
  <img src="<%=album.images [0].url%>" alt="">

  //aqui arrib hay q pone barra xq si no entra en artist -->
  <!-- <a href="<%= artist/id/<%=artist.id%>%>">Ver album</a>
%>}) %> -->


<% albums.forEach(artist =>{%>
  <img src="<%=album.images[0].url%>" alt="">
  <span> <a href="/album/<%=e.id%>">View Tracks</a> </span>
  <%}) %>
