<div class="container">
  <div style="width:<%=artists.items[0].images[1].width%>px" class="artist-box-title center">
    <h1><%= artists.items[0].name %></h1>
  </div>
  <div style="width:<%=artists.items[0].images[1].width%>px" class= "center">
    <img src="<%=artists.items[0].images[1].url%>" alt="">
  </div>
  <div style="width:<%=artists.items[0].images[1].width%>px" class="artist-box-link center">
    <a href="<%=artists.items[0].id%>" class="artist-link">Show albuns</a>
  </div>
</div>
          
          
      

        