<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../stylesheets/body.css">
  <title>Artist</title>
</head>

<body>
  <section>
      <h1>Bands</h1>
      <h2>
        We have founded <%=data.artists.items.length%> bands whit the text: 
        <%=artist %>
      </h2>
      <div class="grid">
        <% data.artists.items.forEach((band) => { %>
          <div class="media">
            <div class="media-left media-middle">
                <% if (typeof band.images != "undefined" && band.images != null && band.images.length > 0){%>
                  <a href="/albums/<%=band.id%>">
                    <img class="media-object" src="<%=band.images[0].url%>" alt="bandLogo"">
                  </a>
                <%}else {%>
                  <a href="/albums/<%=band.id%>">
                    <img class="media-object" src="../images/No-image-found.jpg" alt="bandLogo"">
                  </a>    
                <%}%>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><%=band.name%></h4>
              <a href="/albums/<%=band.id%>" class="btn btn-default">View Albums</a>
            </div>
          </div>
        <%})%>

      </div>
  </section>
</body>

</html>