<div class="tittle-audio">
  <img src="{{tittle.images.0.url}}" alt="">
  <div class="tittle-text">
    <h3>{{tittle.name}} -  {{tittle.artists.0.name}}</h3>
    <p>{{tittle.label}}</p>
    <p>{{tittle.release_date}}</p>
  </div>

</div>

<div class="col-12">
  <ul class="list-group">
  {{#each audios}}
  <li class="item-audio">
    <p>{{this.name }}</p>
    <audio controls>
      <source src="{{this.preview_url}}">
    </audio>
  </li>
  {{/each}}
</ul>
</div>

