<h1>Albums for: {{{ albumsList.0.artists.0.name }}}</h1>

<div class="albums-container">
    
{{#each albumsList}}
<div>
    <h2>{{{this.name}}}</h2>
</div>
    <div>
        <img class="album-image" src=" {{{ this.images.0.url }}} " alt="image of {{{ this.name }}}">
    </div>
    <div>
        <h3>{{{ this.album }}}</h3>
    </div>
    <div>
        <a href="/tracks/{{{this.id}}}"><button>View Tracks</button></a>
    </div>
    {{/each}}
</div>