<div class="search-wrapper">
    
    {{#if artistName}}
    <h1>Albums of {{artistName}}</h1>
{{else}}
    <h1>Albums</h1>
{{/if}}
<div class="artist-search-result-wrapper">

{{#each artistList}}
    
<div class="album-result-wrapper">
    
    <img class="album-image" src="{{#if this.images}}{{this.images.1.url}}{{else}}images/no-album.jpg{{/if}}" >
    <div class="album-name">{{this.name}}</div>

    {{#if displayTracks}}
    <a href="/tracks/{{this.id}}" class="btn btn-primary btn-large">View Tracks</a>

    {{else}}
    <a href="/albums/{{this.id}}" class="btn btn-primary btn-large">View Albums</a>
    {{/if}}
</div>
{{/each}}
</div>