<div class="tracks">
  {{#each tracks}}
  <h2> {{this.name}}</h2>
  <audio controls>
    <source src={{this.preview_url}} type="audio/ogg">
  </audio>
  {{!-- <audio src={{this.preview_url}}></audio> --}}
  {{!-- <audio src={{this.preview_url}}></audio> --}}
  {{!-- <audio>{{this.preview_url}}</audio> --}}
  {{!-- <img src={{this.images.1.url}} alt={{this.name}} /> --}}
  {{!-- <a href="/tracks/{{this.id}}">View tracks: {{this.name}}</a> --}}
  {{/each}}
</div>