{{#if home}}
  <div class="home">
    <div class="shadow">
      <div class="title">
        <h1>Spotify API</h1>
        <div class="line"></div>
        <h3>Express & Handlebars Project</h3>
      </div>
      <form action="/artist-search" method="GET">
        <input type="text" name="artist" />
        <button type="submit">Search for an Artist</button>
      </form>
    </div>
  </div>
{{/if}}

{{#if search}}
  <div class="cards-container">
    {{#each data as |artist|}}

      <div class="card">
        <img src="{{artist.images.1.url}}" alt="{{artist.name}}" />
        <h1>{{artist.name}}</h1>
        <a href="/{{artist.ref}}/{{artist.id}}"> {{artist.link}} </a>
      </div>

    {{/each}}
  </div>
{{/if}}

{{#if track}}
  <div class="tracks-container">
    {{#each data as |track|}}

      <div class="track">
        <h1>{{track.name}}</h1>
        <audio controls src="{{track.preview_url}}"></audio>
        <div class="link">
          <a href="{{track.external_urls.spotify}}" target="_blank" rel="noopener noreferrer">Play On Spotify</a>
        </div>
      </div>

    {{/each}}
  </div>
{{/if}}