<div class="albums-wrapper">
    <div>
        <% data.items.forEach((album) => { %>
            <div class="">
                <div class="">
                    <a href="/tracks/<%=album.id%>">
                        <img src="<%=album.images[0].url%>" alt="bandLogo">
                    </a>
                </div>
                <div class="">
                    <h1 class="">
                        <%= album.name %>
                    </h1>
                    <h2>
                        <%=band%>
                    </h2>
                    <a href="/tracks/<%=album.id%>" class="play-btn">Listen Tracks</a>
                </div>
            </div>
            <%})%>
    </div>
</div>