<h1 class="albums-title">Albums for: {{albums.[0].artists.[0].name}}</h1>
<div class="albums-div">
    {{#each albums}}
    <div class="each-albums-div">
        <img src="{{this.images.[1].url}}" class="album-img" alt="{{this.name}}">
        <h3>{{this.name}}</h3>
        <a href="/tracks/{{this.id}}" class="btn">View tracks</a>
    </div>
    {{/each}}
</div>