<div>
        <h2>Albums for:<%=artistAlbums[0].artists[0].name%></h2>

</div>

<div class="albums">
<div class="album">
        <img src=<%=artistAlbums[0].images[0].url%> alt="">
            
          
            <h1>
                    <%=artistAlbums[0].name%>
            </h1>
            <button><a class="button" href="/tracks/<%=artistAlbums[0].id%>">View Tracks</a></button>
</div>
      
    
             
   

<div class="album">
      
        <img src="<%=artistAlbums[1].images[0].url%>" alt="">
      

        <h1>
                <%=artistAlbums[1].name%>
        </h1>
        <button><a class="button"href="/tracks/<%=artistAlbums[1].id%>">View Tracks</a></button>

</div>



<div class="album" >
       
        <img src="<%=artistAlbums[2].images[0].url%>" alt="">
       
        <h1>
                <%=artistAlbums[2].name%>
        </h1>
        <button><a class="button"href="/tracks/<%=artistAlbums[2].id%>">View Tracks</a></button>

</div>

</div>



