<h1>ALBUM</h1>

<ul>
 {{#each albums}}
    <h3>Name : {{this.name}} </h3>
    <br>
    {{#if this.images}}
    <img src="{{this.images.2.url}}" alt="{{this.name}}">
    {{else}}
    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="{{this.name}}" style="60px">
    {{/if}}
    <br>
   <a href="/tracks/{{this.id}}/">View Tracks</a> {{!-- this have to send us to the track page --}}

    {{/each}}

</ul>
