<div class= "cards">
    {{#each artistResult.body.artists.items }}
    <div>
    {{#each this.images}}
    {{#if @first}}
    <img src="{{this.url}}" width="{{this.width}}" height="{{this.height}}" alt="">
    {{/if}}
    {{/each}}
    <p>{{this.name}}</p>
    <button>
    <a href="/albums/{{this.id}}">View Albums</a>
    </button>
    </div>
    {{/each}}
   
</div>


