<div class="container">

     <div class="row d-flex justify-content-center align-items-center">
          <div class="col-4">
               <img class="img-fluid mx-auto d-block" src="" alt="">
               <p class="h1">Hi</p>
               <p class="text-muted"></p>
               <p></p>
          </div>
     </div>

</div>

{{!-- <main class="albums">
     {{#each items}}
     <article class="album">
          {{#if this.images.[0].url}}
          <img src="{{this.images.[0].url}}" alt="{{this.name}}">
          {{else}}
          <img src="https://via.placeholder.com/640x640" alt="{{this.name}}">
          {{/if}}
          <h1>{{this.name}}</h1>
          <a href="/albums/{{this.id}}">View Albums</a>
     </article>
     {{/each}}
</main> --}}