<h2>Artists Result</h2>
<div class="col s12">
  <div class="row">
    {{#each items as |artist|}}
    <div class="col s3 m3">
      <div class="card">
        <div class="card-image">
          <img src="{{artist.images.[0].url}}" alt="{{artist.name}}">
          <a href="/albums/{{artist.id}}" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <span class="card-title activator white-text text-darken-4">{{artist.name}}</span>
          <p>{{artist.genres}}</p><br>
          <p>
            <a href="/albums/{{artist.id}}" class="waves-effect waves-light btn black">View Albums</a>
          </p>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
          