<div class="artist-container">
    {{#each data}}
    <h2>{{this.name}}</h2>
    {{!-- {{#each this.images}} --}}
    <img width="150px" class="artist-img" src={{this.images.[0].url}}>
    <button onclick="window.location.href='/albums/{{this.id}}'">View albums</button>
    {{!-- {{/each}} --}}
    {{/each}}
    {{!-- {{data.[0].name}}
    <img src={{data.[0].images.[0].url}}> --}}
</div>