<h1>Result for {{searchResult}}</h1>

<div class="row">
{{#each artistResult}}


    <div class="col-md-4 col-6 ">
        <div class="card my-2">
            {{#if  this.images.[0]}}

             {{@images}}  <img class="card-img-top" src="{{this.images.[0].url}}" 
             alt="{{this.name}}">

             {{else}}

             {{@images}}  <img class="card-img-top" src=" https://i.imgur.com/3MOFWYd.png" 
             alt="{{this.name}}">
            {{/if}}
                        
            <div class="card-body">
                <h5 class="card-title"> {{@name}}  {{this.name}} </h5>
                <p class="card-text"></p>
                <a class="btn btn-danger" href="/albums/{{this.id}}">View Albums</a>
        {{!-- {{this.images.[0].url}} --}}
            </div></div>
    </div>

{{/each}}

</div>

{{!-- <p>Artist image: {{this.name.images.url}} </p> --}}

{{!-- <img src="{{this.images.[0].url}}" alt="{{this.name}}"> </p> --}}
{{!-- <button>View Albums</button> --}}


