<ul class="list-group track-group">
  {{#each tracks}}
    {{#if this.preview_url}}

      <li class="list-group-item">{{this.name}}</li>
      <li class="list-group-item"> 
        <audio controls>
        <source src="{{this.preview_url}}">
        </audio>
      </li>
      {{else}}
       <li class="list-group-item">{{this.name}}</li>
      <li class="list-group-item"> 
        <audio controls>
        <source src="{{this.preview_url}}">
        </audio>
        <p>👀 Sorry no preview available...</p>
      </li>
    {{/if}}
  {{/each}}
</ul>